<div class="container">
	<div class="row">
		<div class="span12">
		<div class="page-header">
				<h1>
				Статьи
			</h1>
		</div>
		</div>
	</div>

  <!-- /. PAGE TITLE-->



	<div class="row">
		<h2 style="text-align: center;"><b>Сдесь вы можете найти полезную информаци о компьютерах <br> ноутбуках и прочей цифровой техники, а также об их профилактике и ремонте!</b></h2>
	
		<div class="span9" *ngFor="let article of articles.articles" >
			<!--Blog Post-->
			<div class="blog-post">
				<h2>{{article.title}}</h2>

					<img src="{{article.img}}" style="width: 800px; height: 400px;">
					<br>
					<hr>

					<a class="btn btn-success btn-lg" routerLink="/blog-details/{{article.id}}">Подробнее..</a>			
			</div>
		</div>	

		<!--==================-->
	</div>

	
</div>
	