
<div class="container">
	  <!--PAGE TITLE-->


	<div class="row">

	
		<div class="span9">
			<!--Blog Post-->
			<div class="blog-post">
				<h2 style="font-weight: bolder;">{{article.title}}</h2>

							
					<img src="{{article.img}}">
					<hr>
					<div [innerHTML]="article.text"></div>	
					
			</div>



			<!--/.Blog Post-->



			<!--Comments-->

			<h2>Коментарии</h2>


			<div class="comments">

				<div class="media">
					 <a href="#" class="pull-left"><img src="img/img-60x60.jpg" class="media-object" alt='' /></a>
					<div class="media-body">
						<h4 class="media-heading">
							Nested media heading
						</h4> Прекрасная статьяю Супер
					</div>
				</div>
				<div class="media">
					 <a href="#" class="pull-left"><img src="img/img-60x60.jpg" class="media-object" alt='' /></a>
					<div class="media-body">
						<h4 class="media-heading">
							Nested media heading
						</h4> Прекрасная статья

					</div>
				</div>



				<!--Post Comments-->

				<h2>Оставить сообщение</h2>

				<form>
				
					 <input class="span8"  type="text" placeholder="Имя" /> 
					 <input class="span8" type="email" placeholder="Email" required /> 
					 <textarea class="span8" rows="10" placeholder="Сообщение" ></textarea>
					

					<button type="submit" class="btn btn-large btn-primary">отправить</button>

			</form>

				<!--/.Post Comments-->



			</div>

			<!--/.Comments-->





			
		</div>	


		
		<!--==================-->
	</div>
</div>





