<div class="container">
     <div class="page-header">
        <h1>Контакты </h1>
    </div>
 
  <!-- /. PAGE TITLE-->

        <div class="row">
          <div class="span3">
            <h3>Адресс:</h3>
              <address>
                <strong>Минск. улица Бельского 71 </strong><br>
                <br>
                
                <img src="img/velcom.png" alt="телефон" style="width: 25px; height: 25px;"><span><b>+375 29 365-53-48</b></span> <br><br>
                <img src="img/mts.png" alt="телефон" style="width: 25px; height: 25px;"><span><b>+375 33 365-53-48</b></span><br><br>
                <span style="padding-right: 10px;" ><img src="img/skype.png" alt="телефон" style="width: 25px; height: 25px;"><b>wowa-x2</b></span><br>
              </address>
               
              <address>
                <strong>email: </strong><br>
                <a href="mailto:#">wowa-x@mail.ru</a>
              </address>
          </div>


          <div class="span9">
            <img src="img/map1.jpg" alt="" >
          </div>

        </div>

 </div>
