<div class="container">
     <div class="page-header">
        <h1>Контакты </h1>
    </div>
 
  <!-- /. PAGE TITLE-->

        <div class="row">
          <div class="span3">
            <h3>Адресс:</h3>
              <address>
                <strong>Минск. улица Бельского 71 </strong><br>
                <br>
                
                <img src="img/velcom.png" alt="телефон" style="width: 25px; height: 25px;"><span><b>+375 29 365-53-48</b></span> <br><br>
                <img src="img/mts.png" alt="телефон" style="width: 25px; height: 25px;"><span><b>+375 33 365-53-48</b></span><br><br>
                <span style="padding-right: 10px;" ><img src="img/skype.png" alt="телефон" style="width: 25px; height: 25px;"><b>wowa-x2</b></span><br>
              </address>
               
              <address>
                <strong>email: </strong><br>
                <a href="mailto:#">wowa-x@mail.ru</a>
              </address>
          </div>


          <div class="span9">
            
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1976.9971971685268!2d27.480220890666562!3d53.89515290183076!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbdab164386c4b%3A0xf84fb741deb3b8f7!2z0YPQuy4g0JHQtdC70YzRgdC60L7Qs9C-IDcxLCDQnNC40L3RgdC6LCDQkdC10LvQsNGA0YPRgdGM!5e0!3m2!1sru!2sru!4v1503739804466" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

        </div>

 </div>
