
<br><hr><br>
<div class="container-fluid">
  <div class="col-lg-12 col-md-12">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
<br>
  <div class="carousel-inner" >

    <div class="item active">
  
          <img src="img/slide/slide1.jpg" >  
      
    </div>

    <div class="item">

      <div class="container">
        <div class="row">
              <div class="span6">
                <div class="carousel-caption">
                      <h1>Качественная чистка</h1>
                      <p class="lead">Профессиональная чистка ноутбука или компьютера ахуенно дорогими прибамбасами.</p>
                      <a class="btn btn-large btn-primary" routerLink="/blog-details/1">Подробнее</a>
                </div>
              </div>
            
              <div class="span6">
                <img src="img/slide/slide2.jpg" >
              </div> 
        </div>
      </div>
    </div>

    <div class="item">
    <div class="container">
        <div class="row">
            <div class="span6">
              <div class="carousel-caption">
                    <h1>Ремонт после залития </h1>
                    <p class="lead">Профф ремонт после залития жидкостью и т.п.</p>
                    <a class="btn btn-large btn-primary" routerLink="/blog-details/2">Подробней</a>
              </div>
            </div>
            <div class="span6">
              <img src="img/slide/slide3.jpg" >
            </div>
        </div>
    </div>
        
    </div>

    <div class="item">
      <div class="container">
          <div class="row">
            <div class="span6">
              <div class="carousel-caption">
                    <h1>Ремонт после падения и удара</h1>
                    <p class="lead">Если упал то не беда.</p>
                    <a class="btn btn-large btn-primary" routerLink="/blog-details/3">Окей , а что делать?</a>
              </div>
            </div>
            <div class="span6">
               <img src="img/slide/slide4.png" >
            </div>
        </div>
      </div>
        
    </div>

  </div>
     <!-- Carousel nav -->
    <a class="carousel-control left " href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
      <!-- /.Carousel nav -->
</div>
    <!-- /Carousel -->

  </div>
</div>

<!-- Feature 
  ==============================================-->
<div class="container">
  <div class="row feature-box">
      <div class="col-sm-12 col-xs-12">
        <div class="span12 cnt-title">
           <h1>Профессиональный ремонт телефонов,<br> ноутбуков и компьютеров любой сложности</h1> 
           <br>
            <span>Гарантия качества и быстрота обслуживания</span>        
        </div>
        <br>
      </div>
      
      <div class="col-sm-12 col-xs-12">
         <div class="span4">
          <img src="img/icon3.png">
          <h2>Профилактика - 30 р.</h2>
          <p>
              Осуществление чистки ноутбука или комьютера самыми лучшими материалами. Понижение тепературы на 10 - 35 градусов.
          </p>

          <a routerLink="/services">подробнее &rarr;</a>

        </div>
      </div>
     
      <div class="col-sm-12 col-xs-12">
        <div class="span4">
          <img src="img/icon2.png">
          <h2>Установка ОС и ПО - 30 р.</h2>
          <p>
              Установка операционной системы Windows 7 , 8 или  10.
              Установка дополнительного ПО включено.  
          </p>   
            <a routerLink="/services">подробнее &rarr;</a>    
        </div>
      </div>
      
    <div class="col-sm-12 col-xs-12" >
      <div class="span4">
        <img src="img/icon1.png">
        <h2>Ремонт - от 40 р.</h2>
        <p>
            Осуществляем ремонт любой сложности. От залитого до разбитого.
            В кратчайшие сроки!
        </p>
          <a routerLink="/services">подробнее &rarr;</a>
      </div>
    </div>
      
  </div>


  <!-- /.Feature -->

  <div class="hr-divider"></div>

  <!-- Row View -->

  <!--
  <div class="row">
      <div class="span6"><img src="img/responsive.png"></div>

      <div class="span6" >
        <h1>atricle.title</h1>
          <p>atricle.text</p>
           <a routerLink="/blog">подробнее &rarr;</a>
      </div>
  </div>-->

</div>

