<div class="container">
	

	<div class="row">
		<div class="span12">
		<div class="page-header">
				<h1>
				Наши услуги
			</h1>
		</div>
		</div>
	</div>

  <!-- /. PAGE TITLE-->
		<p><b>Все цены установлены только на работу мастера, <strong style="color: red;">без учета запчастей</strong>. 
			Некоторые цены могут меняться из-за специфике или сложности работы.</b>
		</p>

		<div class="col-md-12">
			<table class="table table-hover table-bordered">
				<caption><h3><b>Ноутбуки</b></h3></caption><br>
			    <thead>

			        <tr>
			            <th>Наименование работ</th>
			            <th>Описание работы</th>
			            <th>цена в рублях</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr *ngFor="let nb of price.notebookPrice">
			            <td>{{nb.name}}</td>
			            <td>{{nb.desc}}</td>
			            <td>{{nb.price}}</td>
			        </tr>
			    </tbody>
			</table>
				<hr>
		</div>

	

	



</div>