<div class="container">
	

	<div class="row">
		<div class="span12">
		<div class="page-header">
				<h1>
				Наши услуги
			</h1>
		</div>
		</div>
	</div>

  <!-- /. PAGE TITLE-->


		<div class="col-md-12">
			<table class="table table-hover">
				<caption><b>Ноутбуки</b></caption>
			    <thead>

			        <tr>
			            <th>Наименование работ</th>
			            <th>цена в рублях</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>Установка ОС и ПО</td>
			            <td>30</td>
			        </tr>
			        <tr>
			            <td>Установка програм</td>
			            <td>от 2</td>
			        </tr>
			        <tr>
			            <td>Установка Антивируса</td>
			            <td>5</td>
			        </tr>
			        <tr>
			            <td>Чистка ноутбука</td>
			            <td>30</td>
			        </tr>
			        <tr>
			            <td>замена матрицы</td>
			            <td>от 100</td>
			        </tr>
			        <tr>
			            <td>замена USB</td>
			            <td>от 30</td>
			        </tr>
			        <tr>
			            <td>ремонт разьема питания</td>
			            <td>от 40</td>
			        </tr>
			        <tr>
			            <td>ремонт чего то еще</td>
			            <td>100000</td>
			        </tr>
			    </tbody>
			</table>
				<hr>
			<table class="table table-hover">
				<caption><b>Мобильные Телефоны</b></caption>
			    <thead>

			        <tr>
			            <th>Наименование работ</th>
			            <th>цена в рублях</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>Установка ОС и ПО</td>
			            <td>30</td>
			        </tr>
			        <tr>
			            <td>Установка програм</td>
			            <td>от 2</td>
			        </tr>
			        <tr>
			            <td>Установка Антивируса</td>
			            <td>5</td>
			        </tr>
			        <tr>
			            <td>Чистка ноутбука</td>
			            <td>30</td>
			        </tr>
			        <tr>
			            <td>замена матрицы</td>
			            <td>от 100</td>
			        </tr>
			        <tr>
			            <td>замена USB</td>
			            <td>от 30</td>
			        </tr>
			        <tr>
			            <td>ремонт разьема питания</td>
			            <td>от 40</td>
			        </tr>
			        <tr>
			            <td>ремонт чего то еще</td>
			            <td>100000</td>
			        </tr>
			    </tbody>
			</table>
		</div>

	

	



</div>